<link rel="stylesheet" href="/css/projects.css">
<link rel="stylesheet" href="/css/card.css">

<section>
    <div class="container">
        <div class="cards">
            <% projects.forEach(project => { %>
                <article class="card" id=<%=project.slug%> >
                    <% if (project.image != null) { %>
                        <img src= <%= project.image %> />
                    <% }%>
                    <div class="card-content">
                        <h1><%= project.title %></h1>
                        <p class="date">mmm yyyy</p>
                        <% if (project.snippet != null) { %>
                            <p><%= project.snippet %></p>
                        <% } else { %>
                            <p><%= project.content.substr(0,80)%>... <a href="#">read more</a> </p>
                        <% } %>
                    </div>
                </article>

            <% }); %>
        </div>
    </div>
</section>
