<link rel="stylesheet" href="/css/cms/projects.css">

<a class="btn btn-dark" href="/cms/projects/new">Add new project</a>

<% projects.forEach(project => { %>
    <article class="project" id=<%=project._id%> >
        <% if (project.image != null) { %>
            <img src= <%= project.image %> />
        <% } %>
        <div class="project-content">
            <div class="header">
                <h1><%= project.title%></h1>
                <p class ="date">MMM YYYY</p>
            </div>
            <% if (project.snippet != null) { %>
                <p><%= project.snippet %></p>
            <% } else { %>
                <p><%= project.content.substr(0,80)%>...</p>
            <% } %>
        </div>
    </article>
<% }); %>

<script>
    let projects = document.getElementsByClassName('project');
    Array.from(projects).forEach(project => {
        project.addEventListener('click', (event) => {
            let _id = event.target.closest(".project").id;
            window.location = '/cms/projects/' + _id;
        });
    });
</script>
