<link rel="stylesheet" href="/css/project.css">
<link rel="stylesheet" href="/css/cms/project.css">
<link rel="stylesheet" href="/css/cms/form.css">

<div class="project-image-container">
    <img class="project-image" src=<%=project.image%>>
    <div class="project-image-options">
        <div id="change-image-btn" class="btn">Change image</div>
    </div>
</div>
<%- include('./partials/image-browser.ejs') %>
<article id="<%= project.slug %>" class="project">
    <div class="container-text">
        <% if (type == "new") { %>
            <form action="/api/projects" method="POST" class="">
        <% } else { %>
            <form action="/api/projects/<%- project.slug %>?_method=PATCH" method="POST">
        <% } %>
        <%- include('./partials/form-fields.ejs') %>
        <div class="btn-wrapper">
            <button type="submit" class="btn btn-dark">Save</button>
            <div id="preview-btn" class="btn btn-toggle">Preview</div>
            <a href="/cms/projects" class="btn btn-light">Cancel</a>
            <% if (type != "new") { %>
                <div id="delete-btn" class="btn btn-danger">Delete</div>
            <% } %>
        </div>
        </form>
    </div>
</article>

<% if (type != "new") { %>
    <script>
        const deleteProject = (slug) => {
            const url = "http://localhost:3000/api/projects/" + slug;
            fetch(url, {
                method: 'Delete',
                headers: {
                    'Content-Type': 'application/json'
                },
                cache: "no-cache",
                redirect: "follow",
                body: null
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/cms/projects";
                }
            })
            .catch(err => {
                console.log(err);
            });
        }
        const delete_btn = document.getElementById('delete-btn');
        delete_btn.addEventListener('click', event => {
            deleteProject(event.target.closest('article').id);
        });
    </script>
<% } %>

