<link rel="stylesheet" href="/css/cms/projects.css">
<div class="container">
    <a class="btn btn-dark" href="/cms/projects/new">Add new project</a>

    <% projects.forEach(project => { %>
        <article class="project" id=<%=project.slug%> >
            <% if (project.image != null) { %>
                <img src= <%= project.image %> />
            <% } %>
            <div class="project-content">
                <div class="header">
                    <h1><%= project.title%></h1>
                    <h4 class="date">
                        <%= new Intl.DateTimeFormat("en-US", { month: "short", year: "numeric" }).format(project.date) %>
                    </h4>
                </div>
                <% if (project.snippet != null) { %>
                    <p><%= project.snippet %></p>
                <% } else { %>
                    <p><%= project.content.substr(0,80)%>...</p>
                <% } %>
            </div>
        </article>
    <% }); %>
</div>

<script>
    let projects = document.getElementsByClassName('project');
    Array.from(projects).forEach(project => {
        project.addEventListener('click', (event) => {
            let slug = event.target.closest(".project").id;
            window.location = '/cms/projects/' + slug;
        });
    });
</script>
